[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EXPAR"]
	path = EXPAR
	url = https://github.com/cran/EXPAR
[submodule "ICompELM"]
	path = ICompELM
	url = https://github.com/cran/ICompELM
